@import "../../styles/variables.scss";

section.main-page {
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem;
    background-color: $blue-gray-100;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include md {
        padding: 2rem;
    }

    input {
        margin-right: 10px;
    }
}
