@import "../../styles/variables.scss";

div.current-time-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    p {
        padding: 1rem 0.5rem;
        font-size: 1.5rem;
        flex-grow: 1;
        background-color: $blue-gray-200;
        color: $gray-300;
        text-align: center;
        border-radius: 5px;
        border-bottom: $gray-100 solid 2px;
    }
    span {
        font-size: 1.5rem;
        padding: 0.4rem;
    }
}
