.chart-box {
    width: 100%;
    height: 100%;
    &_title {
        font-size: var(--font-size-4);
        text-align: center;
    }
    .spinner {
        animation: var(--animation-spin);
        margin: 0 auto;
        transform: scale(2);
    }
}
