@import "../../../styles/variables.scss";

div.spinner-wrapper {
    @keyframes spin {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    span {
        color: $gray-300;
        animation: spin 3000ms infinite linear;
        font-size: 2.5rem;
    }
}
