@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@import './_dataPanel.css';
@import './_searchPanel.css';
@import './_historicalDataPanel.css';
@import './_loading.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: rgb(104, 210, 252);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  margin: 1.5vw;
}
