.weather-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & > div {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        bottom: 15%;
        left: 10rem;
        & > div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}
