.sidebar {
    width: 25rem;
    background-color: hsl(0, 0%, 0%, 30%);
    backdrop-filter: blur(8px);
    color: var(--gray-0);
    height: 100vh;
    &_wrapper {
        padding: 2rem 1.5rem;
        display: grid;
        grid-template-rows: 15rem calc(100vh - 19rem);
    }
}
